<section class="biggest-number">
  <div class="container">
    <h2 class="section-title">Введіть 3 числа</h2>
    <ul class="b-list">
      <li class="b-item">
        <input
          type="text"
          placeholder="Введіть число"
          class="biggest-number-input"
        />
      </li>
      <li class="b-item">
        <input
          type="text"
          placeholder="Введіть число"
          class="biggest-number-input"
        />
      </li>
      <li class="b-item">
        <input
          type="text"
          placeholder="Введіть число"
          class="biggest-number-input"
        />
      </li>
    </ul>

    <p class="result-num">Найбільше число, яке ви ввели <span></span></p>
  </div>
</section>
