<section class="calculate-time">
  <div class="container">
    <h2 class="section-title">Калькулятор часу</h2>
    <div class="calculate-time-block">
      <div class="input-wrap">
        <input
          type="text"
          id="number"
          placeholder="Введіть число"
          class="time-input"
        />
        <button type="button" class="calculate-time-btn">
          <img src="../icons/search-icon.svg" alt="" class="btn-icon" />
        </button>
      </div>
      <svg
        width="100"
        height="2"
        viewBox="0 0 100 2"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0 1H100" stroke="black" stroke-dasharray="2 2" />
      </svg>
      <!--Єто по задумке должен быть результат -->
      <span class="result"></span>
    </div>
  </div>
</section>
