<section class="calculate">
  <div class="container">
    <h2 class="section-title">Калькулятор</h2>
    <div class="section-block calculate-block">
      <input
        type="text"
        id="number"
        placeholder="Введіть число"
        class="calculate-input"
      />
      <ul class="calculate-list">
        <li class="calculate-item">
          <button type="button" class="calculate-opparation">+</button>
        </li>
        <li class="calculate-item">
          <button type="button" class="calculate-opparation">*</button>
        </li>
        <li class="calculate-item">
          <button type="button" class="calculate-opparation">-</button>
        </li>
        <li class="calculate-item">
          <button type="button" class="calculate-opparation">/</button>
        </li>
      </ul>
      <input
        type="text"
        id="number"
        placeholder="Введіть число"
        class="calculate-input"
      />
      <button type="button" class="calculate-opparation result">=</button>
      <input
        type="text"
        placeholder="Результат"
        class="calculate-input result-input"
      />
    </div>
  </div>
</section>
