<footer class="footer" id="id-footer">
  <div class="container footer-container">
    <a href="./header.html" class="logo-link">
      <img src="../icons/logo-icon.svg" alt="" />
      <p class="logo-text">Coding<span class="logo-part">Magic</span></p>
    </a>
    <ul class="contact-list">
      <li class="contacnt-item">
        <a href="tel:+381234567890">Тел: +38 (123) 456 78 90</a>
      </li>
      <li class="contacnt-item">
        <a href="mailto:codingmagic@gmail.com">E-mail: codingmagic@gmail.com</a>
      </li>
      <li class="contacnt-item"><a href="#">Facebook: CodingMagic</a></li>
      <li class="contacnt-item"><a href="#">Twitter: CodingMagic</a></li>
      <li class="contacnt-item"><a href="#">Instagram: CodingMagic</a></li>
    </ul>
    <div class="subscribe">
      <input type="email" placeholder="Ваша ел. адреса..." />
      <button type="button" class="subscribe-btn">Підписатись</button>
      <p class="subscribe-rules">
        *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
      </p>
    </div>
  </div>
</footer>
