<header>
  <div class="container">
    <a href="./header.html" class="logo-link">
      <img src="../icons/logo-icon.svg" alt="" />
      Coding
      <span class="logo-part">Magic</span>
    </a>
    <ul class="header-list">
      <li class="list-item"><a href="#" class="item-link">Інтерактив</a></li>
      <li class="list-item"><a href="#" class="item-link">Наша команда</a></li>
      <li class="list-item"><a href="#" class="item-link">Контакти</a></li>
    </ul>
    <ul class="header-settings">
      <li class="settings-item">
        <img src="../img/white-theme.png" alt="" />
      </li>
      <li class="settings-item"><p class="setting-text">Вітаємо, User</p></li>
    </ul>
  </div>
</header>
