<section class="hero">
  <div class="container">
    <h1 class="hero-title">Популярні інетрактивні ігри</h1>

    <h2 class="section-title">Перевір в який рік ти народився</h2>
    <div class="game-block">
      <div class="input-wrap">
        <input
          type="text"
          name=""
          id="age"
          placeholder="Введіть рік народження"
          class="game-input"
        />
        <button type="button" class="game-btn" id="age-res">
          <img src="../icons/search-icon.svg" alt="" class="btn-icon" />
        </button>
      </div>
      <p class="age-success-text"></p>
    </div>
  </div>
</section>
