<section class="hero">
  <div class="container">
    <h1 class="hero-title">Популярні інетрактивні ігри</h1>
    <div class="game">
      <h2 class="section-title">Перевір в який рік ти народився</h2>
      <div class="game-block">
        <input
          type="text"
          name=""
          id="age"
          placeholder="Введіть рік народження"
        />
        <button type="button" class="game-btn">
          <img src="../icons/search-icon.svg" alt="" />
        </button>
        <!-- <p class="success-text">Ви народилися у високосний рік!</p> -->
      </div>
    </div>
  </div>
</section>
