<section class="team">
  <div class="container team-container">
    <h2 class="section-title">Наша команда</h2>
    <!-- <img src="../icons/arrow-icon.svg" alt="" /> -->
    <div class="team-box">
      <svg
        width="52"
        height="102"
        viewBox="0 0 52 102"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="next-icon back-student"
      >
        <path d="M1 1L51 51L1 101" stroke="black" />
      </svg>

      <ul class="team-list">
        <li class="team-item visible hidden">
          <img
            src="../img/denis.png"
            alt=""
            width="150"
            height="150"
            class="team-img"
          />
          <p class="name">Денис</p>
          <p class="work">Team-lead</p>
        </li>
        
        <li class="team-item">
          <img
            src="../img/maksim.jpg"
            alt=""
            width="150"
            height="150"
            class="team-img"
          />
          <p class="name">Максим</p>
          <p class="work">Scram master</p>
        </li>

        <li class="team-item">
          <img src="../img/" alt="" width="150" height="150" class="team-img" />
          <p class="name">Артем</p>
          <p class="work">Участник</p>
        </li>

        <li class="team-item">
          <img
            src="../img/kostya.jpg"
            alt=""
            width="150"
            height="150"
            class="team-img"
          />
          <p class="name">Костя</p>
          <p class="work">Участник</p>
        </li>
        
        <li class="team-item">
          <img
            src="../img/vlad.jpg"
            alt=""
            width="150"
            height="150"
            class="team-img"
          />
          <p class="name">Влад</p>
          <p class="work">Участник</p>
        </li>
      </ul>
      <svg
        width="52"
        height="102"
        viewBox="0 0 52 102"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="next-student"
      >
        <path d="M1 1L51 51L1 101" stroke="black" />
      </svg>
    </div>
    <ul class="next-icons">
      <li class="next-item">
        <span class="next-btn active"></span>
        <span class="next-btn"></span>
        <span class="next-btn"></span>
        <span class="next-btn"></span>
        <span class="next-btn"></span>
      </li>
      <!-- <li class="next-item"><span class="next-btn"></span></li>
      <li class="next-item"><span class="next-btn"></span></li>
      <li class="next-item"><span class="next-btn"></span></li>
      <li class="next-item"><span class="next-btn"></span></li> -->
    </ul>
  </div>
</section>
