<section class="random-number">
  <div class="container">
    <h2 class="section-title">Вгадай число, яке загадав комп’ютер</h2>
    <div class="game-block">
      <div class="random-wrap">
        <input
          type="text"
          name=""
          id="age"
          placeholder="Введіть число"
          class="game-input number-input"
        />
        <button type="button" class="btn-number">
          <img src="../icons/search-icon.svg" alt="" class="btn-icon" />
        </button>
      </div>
      <!-- <p class="success-text">Вітаю, ви вгадали число! (number)</p> -->
    </div>
  </div>
</section>
