<section class="scientists">
  <div class="container">
    <h2 class="section-title">Обери вченого/их</h2>
    <ul class="scientists-list">
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
    </ul>

    <ul class="scientists-search">
      <li class="scientists-item">
        <button class="search-btn" id="first-btn">
          Які вчені народилися в 19 ст.
        </button>
      </li>
      <li class="scientists-item">
        <button class="search-btn" id="two-btn">
          Відсортувати вчених за алфавітом
        </button>
      </li>
      <li class="scientists-item">
        <button class="search-btn" id="third-btn">
          Відсортувати вчених за кількістю прожитих років
        </button>
      </li>
      <li class="scientists-item">
        <button class="search-btn" id="four-btn">
          Знайти вченого, який народився найпізніше
        </button>
      </li>
      <li class="scientists-item">
        <button class="search-btn" id="fifth-btn">
          Знайти рік народження Albert Einshtein
        </button>
      </li>
      <li class="scientists-item">
        <button class="search-btn" id="sixth-btn">
          Знайти вчених, прізвища яких починаються на на літеру “С”
        </button>
      </li>
      <li class="scientists-item">
        <button class="search-btn" id="seventh-btn">
          Видалити всіх вчених, ім’я яких починається на “А”
        </button>
      </li>
      <li class="scientists-item">
        <button class="search-btn" id="eigthth-btn">
          Знайти вченого, який прожив найдовше і вченого, який прожив найменше
        </button>
      </li>
      <li class="scientists-item" id="last-item">
        <button class="search-btn" id="ninth-btn">
          1. Знайти вчених, в яких співпадають перші літери імені і прізвища
        </button>
      </li>
    </ul>
  </div>
</section>
