<section class="scientists">
  <div class="container">
    <h2 class="section-title">Обери вченого/их</h2>
    <ul class="scientists-list">
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
      <li class="scientists-cards"></li>
    </ul>
  </div>
</section>
