<section class="stone-knives-papyrus">
  <div class="container">
    <h2 class="section-title">Камінь - ножиці - папір</h2>
    <div class="wrap">
      <ul class="section-list">
        <li class="section-item" id="stone">
          <img src="../img/stone.png" alt="" />
        </li>
        <li class="section-item" id="scissors">
          <img src="../img/scissors.png" alt="" />
        </li>
        <li class="section-item" id="paper">
          <img src="../img/paper.png" alt="" />
        </li>
      </ul>
      <!-- <p class="result-board">
        Рахунок:
        <span class="wrapper"
          >Комп’ютер - <span id="robot"></span> Ви - <span id="human"></span
        ></span>
      </p> -->
      <div class="result-board">
        <p class="result-text">Рахунок:</p>
        <p class="computer">Комп’ютер - <span id="robot">0</span></p>
        <p class="human">Ви - <span id="human">0</span></p>
      </div>
    </div>
    <button type="button" class="section-btn btn" id="variant-comp">
      Варіант комп’ютера
    </button>
    <span class="correctness"></span>
  </div>
</section>
