<section class="stone-knives-papyrus">
  <div class="container">
    <h2 class="section-title">Камінь - ножиці - папір</h2>
    <ul class="section-list">
      <li class="section-item" id="stone">
        <img src="../img/stone.png" alt="" />
      </li>
      <li class="section-item" id="scissors">
        <img src="../img/scissors.png" alt="" />
      </li>
      <li class="section-item" id="paper">
        <img src="../img/paper.png" alt="" />
      </li>
    </ul>
    <button type="button" class="section-btn btn" id="variant-comp">
      Варіант комп’ютера
    </button>
  </div>
</section>
