<section class="welcome">
  <div class="backdrop js-backdrop">
    <div class="modal">
      <button type="button" data-action="modal-close">
        <img
          src="../img/close-btn.png"
          alt="Кнопка чтобы закрыть модальное окно"
        />
      </button>
      <div class="welcomeContainer">
        <p class="welcomeText">
          <span class="welcomeSpan">Привіт!</span>Ви потрапили на сайт
          інтерактивних ігор та завдань <br />Надіємось, що вам сподобається і
          ви отримаєте позитивні емоції! Бажаємо Вам гарно провести час!
        </p>
        <p class="welcomeText">Введіть своє ім’я:<span id="name"></span></p>
        <input type="text" placeholder="Ваше ім’я..." class="welcomeInput" />
        <button type="button" class="welcomeBtn">Зберегти</button>
      </div>
    </div>
  </div>
</section>
