/* .team-item:nth-child(2), */
.team-item:nth-child(3),
.team-item:nth-child(4),
.team-item:nth-child(5) {
  opacity: 0;
}

.team-item.left{
    transform: translateX(100%);
    opacity: 1;
}
.team-item.right{
    transform: translateX(0%);
    opacity: 0;
}