.football::after {
  content: '';
  display: block;
  width: 33.5rem;
  height: 0.125rem;
  /* background-color: #000; */
  margin: 2.25rem auto;
}
.field {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 45rem;
  height: 13.75rem;
  border: 2px solid #000;
  border-radius: 2.31rem;
  background-color: #5abb58;
}
.football-ball {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.football-cursor {
  position: absolute;
  right: 13.3125rem;
}
