header {
  width: 68.125rem;
  display: flex;
  padding: 21px 0px;
  margin: 0 auto;
  align-items: center;
}
.header-logo {
  width: 5.81rem;
  height: 2.38rem;
}
.logo-box {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}
.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 81px;
  margin-right: 361px;
}
.list-item:not(:last-child) {
  margin-right: 50px;
}
.item-link {
  font-size: 0.75rem;
  /* color: #000; */
}
.header-settings {
  display: flex;
  align-items: center;
}
.settings-item:not(:last-child) {
  margin-right: 3.125rem;
}
.setting-text {
  font-weight: 400;
  font-size: 0.75rem;
  text-align: right;
  /* color: #000; */
}

/* Кнопка для изменения темы */

.themeBtn{
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 40px;
  height: 20px;
  border: none;
  border-radius: 11px;
  outline: none;
  background-color: #7a7a7a;
}

.themeBtn.Dark .theme-light{
  opacity: 0;
  transform: translateX(21px);
}
.themeBtn.Dark .theme-dark{
  opacity: 1;
  transform: translateX(21px);
}

.theme-light{
  position: absolute;
  opacity: 1;
  transform: translateX(0px);
  transition: transform 1000ms, opacity 800ms;
  width: 1.1875rem;
  height: 1.1875rem;
  background-color: white;
  border-radius: 50%;
  padding: 1px;
  outline: .5px solid black;
}

.theme-dark{
  opacity: 0;
  transform: translateX(0px);
  transition: transform 1000ms, opacity 800ms;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  padding: 1px;
}