.scientists-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 36.25rem;
  margin: auto;
  row-gap: 2.25rem;
  column-gap: 3.75rem;
}
.scientists-cards {
  border-radius: 1.25rem;
  height: 6.25rem;
  background: #d9d9d9;
  flex-basis: calc((100% - 3 * 60px) / 4);
}
.scientists-cards:hover {
  cursor: pointer;
}
