body {
  background-color: white;
  transition: background-color 1000ms;
}

body.DarkTheme {
  background-color: #4a4f53;
  transition: background-color 1000ms;
}

body section::after,
body h1::after {
  background-color: black;
  transition: background-color 1000ms;
}

body.DarkTheme section::after,
body.DarkTheme h1::after {
  background-color: white;
  transition: background-color 1000ms;
}

body.DarkTheme a,
body.DarkTheme p,
body.DarkTheme h1,
body.DarkTheme h2 {
  color: white;
  transition: color 1000ms;
}

body a,
body p,
body h1,
body h2 {
  color: black;
  transition: color 1000ms;
}
